html {
  font-family: 'Halant', serif;
  background-color: #f5f5f5;
  color: #212121;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  margin-left: -2px;
  .target-unit {
    padding: 2px 4px 2px 4px;
  };
}

div {
  .target-unit {
    padding: 1px 2px 1px 2px;
    display: inline-block;
  }
}

a {
  color: #1976D2;
  &:hover {
    color: #2196F3;
  }
}

#play-button {
  font-family: 'Raleway', sans-serif;
  padding: 12px 15px;
  color: #fff;
  background-color: #00796B;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  margin: 5px 0;
  &:hover {
    background-color: #009688;
    color: #fff;
  }
  &.disabled {
    opacity: .5;
  }
}

.notice {
  background-color: #D84315;
  color: #fff;
}

.border-overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  box-sizing: 'border-box';
}

small {
  float: right;
  bottom: 0;
  right: 0;
  font-size: 60%;
}
